.TodoItem {
  background-color: var(--black-dark);
  padding: 1.2rem 1.6rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.TodoItem-p {
  display: inline-block;
  overflow: hidden;
  margin: 0;
  max-width: 200px;
  height: 1.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: var(--gray-regular);
}

.TodoItem--complete {
  background-color: var(--black-medium);
}

.TodoItem--complete .TodoItem-p {
  color: var(--gray-medium);
  text-decoration: line-through;
}

.Icons-container {
  display: flex;
}

.Icon {
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.Icon-check {
  background-image: url('../images/check.svg');
}

.Icon-delete {
  background-image: url('../images/close.svg');
}

.Icon-check:hover {
  background-image: url('../images/check-active.svg');
}

.Icon-delete:hover {
  background-image: url('../images/close-active.svg');
}