*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --black-dark: #151718;
  --black-medium: #212121;
  --black-regular: #1A1B1C;

  --gray-semidark: #555555;
  --gray-medium: #91919F;
  --gray-regular: #CDCDCD;

  --danger: #E22727;
  --success: #28C942;

  --white: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1E1E1E;
  color: var(--white);
  font-family: 'Roboto', sans-serif;
}